npm i url 
&
 npm i fs
 &
 npm i http2
 & 
npm i http
 & 
npm i tls 
&
 npm i net
 &
 npm i cluster
 & 
npm i fake-useragent
 & 
npm i colors 
&
 npm i events
 &
 npm i axios &
 npm i request
 & 
npm i crypto
 &
 npm i path
 &
 npm i child_process
 & npm i randomstring 